@{
    var m = ViewData["model"] as XBD.Entity.Article;
    var w = XBD.Web.Utilities.WebInfo.GetWebInfo();
    ViewBag.KeyWord = m.KeyWord;
    ViewBag.Description = m.Name + "- 辛必达";

    var conf = System.Configuration.ConfigurationManager.AppSettings["WebTypeCode"];
    var listNav = new XBD.Service.CategorySvc().GetWebTypeByCodeName(conf).Take(6);
    ViewBag.Title = m.Name;
}


<div hd-slide>
    <div class="flexslider">
        <ul class="slides">
            <li style="background: url(/Scripts/slide/images/img1.jpg) 50% 0 no-repeat;"></li>
            <li style="background: url(/Scripts/slide/images/img2.jpg) 50% 0 no-repeat;"></li>
            <li style="background: url(/Scripts/slide/images/img3.jpg) 50% 0 no-repeat;"></li>
        </ul>
    </div>
</div>
<div hd-slide-line></div>
<div class="container body-content">
    <div class="row" style="margin-top:10px;">
       @Html.Partial("PartalList")

        <div class="col-lg-8" com-right>
            <div detail-main>
                <div detail-title>@m.Name</div>
                <div detail-time>发布日期：@m.AddTime.Value.ToString("yyyy-MM-dd") </div>
                <div detail-content>
                    @Html.Raw(m.Content.Replace("&quot", "\""))
                </div>
            </div>
        </div>

    </div>
</div>
